@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");

:root {
    --pri-font-color: #ffffff;
    --sec-font-color: #001616;
    --pri-background-color: #ffffff;
    --border-color:#808080;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: var(--sec-font-color);
}

html {
    font-size: 10px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/******** Index page design*********/

.index-container {
    display: flex;
    position: relative;
    height: 92vh;
}

/* left section */
.left-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../static/images/bk-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

.landing-message {
    color: var(--pri-font-color);
    font-weight: 200;
}

.company-name {
    font-size: 6rem;
    font-family: "Courier New";
    color: #b3b3b3;
    font-weight: 500;
}

.bg-text {
    /* z-index: 5; */
    background-color: rgb(0, 0, 0,0.8);
    color: #ffffff;
    padding: 1rem;
    opacity: 1;
}

/* right section */
.right-section {
    display: flex;
    flex: 1;
    background-color: var(--pri-background-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-section-container{
    box-shadow:0 0 0.5rem 0.5rem rgb(65 81 64 / 60%) ;
    padding: 10rem;
    border-radius: 0.7rem 0.7rem 0.7rem 0rem;
    background-color: #d6d6d6;
}

.btn-container-label {
    font-size: 4rem;
    margin: 0rem 2rem 2rem 0rem;
}

.btn-container {
    flex-direction: row;
}

.local-btn {
    border-radius: 3rem;
    cursor: pointer;
    border: 0.2rem solid var(--border-color);
    color: var(--pri-font-color);
    background-color: var(--border-color);
    padding: 1rem 1.5rem;
    font-weight: 500;
    margin-right: 2rem;
}

.landlord-btn{
    background-color: var(--pri-background-color);
    color:var(--border-color) ;
}

/******** Navigation bar ******/
.navbar-expand-lg .navbar-nav{
    margin-left: auto;
    margin-right: 0;
}

.navbar-collapse{
    margin: 1rem;
    max-width: fit-content;
}

.nav-link{
    padding: 0.5rem;
    margin: 0.5rem;
}

@media (min-width: 992px){
    /* .collapse .navbar-collapse{
        margin-left: auto;
    } */
}