@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");

:root {
    --pri-font-color: #ffffff;
    --sec-font-color: #001616;
    --pri-background-color: #ffffff;
    --sec-background-color: #e4e4e4;
    --border-color: #808080;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: var(--sec-font-color);
}

html {
    font-size: 10px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/******** Index page design*********/

.index-container {
    display: flex;
    position: relative;
    height: 92vh;
}

/* left section */
.left-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../static/images/bk-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

.landing-message {
    color: var(--pri-font-color);
    font-weight: 200;
}

.company-name {
    font-size: 6rem;
    font-family: "Courier New";
    color: #b3b3b3;
    font-weight: 500;
}

.bg-text {
    background-color: rgb(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 1rem;
    opacity: 1;
}

/* right section */
.right-section {
    display: flex;
    flex: 1;
    background-color: var(--pri-background-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-section-container {
    box-shadow: 0 0 0.5rem 0.5rem rgb(65 81 64 / 40%);
    padding: 10rem;
    border-radius: 0.7rem 0.7rem 0.7rem 0rem;
    background-color: var(--sec-background-color);
}

.mobile-view {
    display: none;
}

.btn-container-label {
    font-size: 4rem;
    color: var(--border-color);
    margin: 0rem 2rem 2rem 0rem;
}

.btn-container {
    flex-direction: row;
}

.local-btn {
    border-radius: 3rem;
    cursor: pointer;
    border: 0.2rem solid var(--border-color);
    color: var(--pri-font-color);
    background-color: var(--border-color);
    padding: 1rem 2rem;
    font-weight: 500;
    margin-right: 2rem;
}

.local-btn:hover {
    background-color: var(--pri-background-color);
    color: var(--border-color);
}

.sec-btn {
    background-color: var(--pri-background-color);
    color: var(--border-color);
}

.sec-btn:hover {
    background-color: var(--border-color);
    color: var(--pri-background-color);
}

/******** Navigation bar ******/
.navbar-expand-lg .navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.navbar-collapse {
    margin: 1rem;
    max-width: fit-content;
}

.nav-link {
    padding: 0.5rem;
    margin: 0.5rem;
}

/************ SIGNIN PAGE DESIGN *************/
.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    padding: 2rem;
    margin: auto;
    background-color: var(--pri-background-color);
}

.main-container {
    background: url("../static/images/jj-ying-WmnsGyaFnCQ-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0rem;
    width: 100%;
    height: 90vh;
    display: flex;
}

.signin-container:hover {
    box-shadow: -1px 0 17px -1px rgb(0 0 0 / 32%);
    transition: box-shadow 0.5s ease-in-out;
}

.input-div {
    width: 40rem;
    padding: 1rem;
    font-size: 1rem;
    line-height: 2rem;
}

.signup-div {
    margin-top: 1rem;
    align-self: center;
    margin-left: -16rem;
}

.signup-btn {
    color: var(--border-color);
}

.signup-btn:hover {
    text-decoration: underline;
    color: #25a306;
}

/********** SIGNUP PAGE DESIGN **************/

ul {
    display: none;
}

/*********** ABOUT PAGE DESIGN **************/
.about-head {
    background: url("../static/images/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-text-about {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.about-desc-head,
.about-desc {
    color: var(--pri-font-color);
}

.about-desc-head,
.team-head {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 600;
}

.team-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.team-card-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
}

.card {
    justify-content: center;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
    box-sizing: border-box;
}

.card-title {
    font-size: 2rem;
}

.card-text {
    font-size: 1.5rem;
}

/***************** RESPONSIVE DESIGN ****************/
@media (max-width: 992px) {
    .left-section {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    .company-name {
        font-size: 8rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 510px) {

    /* right container */
    .right-section-container {
        padding: 4rem;
    }

    .company-name {
        font-size: 6rem;
    }

    .main-container {
        margin-top: 0rem;
        width: 100%;
        height: 90vh;
    }

    /* signin page */
    .signin-container {
        width: 30rem;
        padding: 1rem;
    }

    .input-div {
        width: 20rem;
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .signup-div {
        margin-top: 1rem;
        align-self: center;
        margin-left: 3rem;
    }

    .local-btn {
        padding: 0.5rem 1rem;
        font-weight: 400;
        margin-right: 1.5rem;
    }

    /* about us page */
    .about-head {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: auto;
        margin-bottom: 2rem;
    }

}