{% extends 'base.html' %}
{% block  title%}Home | {% endblock  %}

{%block body%}

<main class="index-container">
    <section class="left-section">
        <h1 class="landing-message">Welcome to </h1>
        <h1 class="company-name">
            WEBNARYS
        </h1>
        <h1 class="landing-message">A complete rental solution for students.</h1>
    </section>
    <section class="right-section">
        <div>Continue as: </div>
        <div class="button-container">
            <a href="/searchResult">As tenant</a>
            <a href="/signIn">As landlord</a>
        </div>
    </section>
</main>

{%endblock body%}