{% extends 'base.html' %}
{% block  title%}Home | {% endblock  %}

{%block body%}

<main class="index-container">
    <section class="left-section">
        <div class="bg-text">
            <h1 class="landing-message ">Welcome to </h1>
            <h1 class="company-name ">
                WEBNARYS
            </h1>
            <h1 class="landing-message ">A complete rental solution for students.</h1>
        </div>
    </section>
    <section class="right-section">
        <div class="mobile-view">
            <h1 class="landing-message">Welcome to </h1>
            <h1 class="company-name">
                WEBNARYS
            </h1>
        </div>
        <div class="right-section-container">
            <div class="btn-container-label">Continue as:</div>
            <div class="button-container">
                {% comment %} <a href="/searchResult" class="pri-btn local-btn">Tenant</a> {% endcomment %}
                <a href="/signIn" class="sec-btn local-btn">Landlord</a>
                <div class="search-container">
    <h1>Type the institute name you are looking for:</h1>
    <form method="get" action="/searchResult">
    <input name="query" id="query" class="form-control" type="search" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
            </div>
        </div>
    </section>
</main>

{%endblock body%}