{% extends 'base.html' %}
{% block  title%}Listing | {% endblock  %}

{%block body %}

<div class="listing-head">
    <h1 class="title">
        Welcome {{vendor.name}}!
    </h1>
    <a href="{% url 'logout' %}">Log Out</a>
</div>
<div class="listing-container">
    <h2 class='is-size-3 mb-4'>My properties</h2>
    <a href="{% url 'add'%}" class='button is-dark'>
        Add Property
    </a>

    {% if properties %}
    <table class='table is-fullwidth'>
        <thead>
            <tr>
                <th>Nearest Institute</th>
                <th>Address</th>
                <th>Rent per month </th>
                <th>No. of rooms</th>
                <th>Furnishing</th>
                <th>AC/Non-AC</th>
                <th>Occupancy per room</th>
                <th>Contact Info.</th>
                <th>Description</th>
                <th>Just a glance</th>
            </tr>
        </thead>
        <tbody>
            {% for i in properties %}
            <tr>
                <td>{{i.institute_name}}</td>
                <td>{{i.address}}</td>
                <td>{{i.rent}}</td>
                <td>{{i.rooms}}</td>
                <td>{{i.furnishing}}</td>
                <td>{{i.acornonac}}</td>
                <td>{{i.occupancy}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.desc}}</td>
                <td><img src="{{i.get_thumbnail}}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {%else%}
    <p>No properties to show yet...</p>
    {% endif %}
</div>

{%endblock body%}