{% extends 'base.html' %}
{% block  title%}SignIn | {% endblock  %}
{%block body%}

this is signin page
<div class="signin-container">
<form method="post" action="/signIn">
{% csrf_token %}
  <div class="mb-3">
    <label for="loginname" class="form-label">User name</label>
    <input type="text" class="form-control" id="loginname" name="loginname">
    </div>
  <div class="mb-3">
    <label for="loginpassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="loginpassword" name="loginpassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div>
Create account <a href="/signUp">SignUp now!</a>
</div>
</div>
{%endblock body%}